body{
	font-family: "Noto Sans TC", sans-serif;
	background: #A2AEBB;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
}

.chartjs-render-monitor{
	max-width: 100% !important;
}

section{
	min-height: calc(100vh - 15.5rem);
}

#loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	background: rgba(20, 20, 20, 0.8);
	text-align: center;
}

#loading-spinner{
	color: #f2f2f2;
	z-index: 100;
	margin-top: calc(50vh - 80px);
}

header{
	/* font-family: "Rounded Mplus 1c"; */
	background: #1c3144;
	color: #f2f2f2;
	font-size: 2rem;
	position: relative;
}

header h1{
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 1rem;
}

header nav{
	position: absolute;
	bottom: 0;
	right: 0rem;
}

@media screen and (max-width: 499px) {
	header nav{
		position: static;
	}
}


header nav ul{
	padding: 0;
	margin: 0;
	text-indent: 0;
}

header nav ul li{
	padding: .5rem 1rem;
	margin: 0;
	display: inline-block;
	cursor: pointer;
}

header nav ul li:hover{
	background: #777;
}

header nav ul li.active{
	background: #fff;
	color: #1c3144;
}

.date{
	font-family: "Rounded Mplus 1c";
	/* padding-left: 1rem; */
	color: #333;
	font-size: 1.5rem;
	margin-top: 1rem;
	text-align: right;
}

.date .dib{
	cursor: pointer;
}

#day{
	/* position: absolute;
	right: 0;
	top: .5rem; */
	width: 200px;
	background: transparent;
	border: 0;
	outline: 0;
}

.dashboard{
	display: grid;
	padding: 1rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px 10px;
}

#count-districts{
	grid-row: span 2;
}

@media screen and (max-width: 1500px) {
	.dashboard{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 1070px) {
	.dashboard{
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 820px) {
	.dashboard{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 580px) {
	.dashboard{
		grid-template-columns: 1fr;
	}
}

.card, .work{
	background: #f2f2f2;
	border-radius: 5px;
	padding: 1rem;
	position: relative;
}

.card-blue{
	background: #73a8d5;
}

.work:hover{
	background: #fff;
}

.work-title{
	/* font-family: 'Rounded Mplus 1c'; */
	font-size: 1.2rem;
}

.work-count{
	position: absolute;
	top: .5rem;
	right: .5rem;
	font-size: 2.5rem;
}

.work-count-down{
	position: static;
	padding-top: 1rem;
	text-align: center;
	font-size: 3.5rem;
}

canvas{
	margin-top: 1rem;
	width: 100%;
}

.yesterday{
	margin-top: 5px;
	margin-bottom: -5px;
	color: #454545;
	font-size: .8rem;
}

.yesterday-count{
	display: inline-block;
}

.yesterday-desc{
	color: #787878;
	display: inline-block;
	font-size: .5rem;
}

#map_small{
	width: 100%;
	height: 400px;
}

#list-table{
	width: 95%;
	padding: 1rem;
	margin: 0 auto;
	border-collapse: seperate;
	border-spacing: 0 .5rem;
}

#list-table th{
	font-size: 1rem;
	padding-left: 1rem;
	white-space: nowrap;
	text-align: left;
}

#list-table td{
	white-space: nowrap;
	background: #b6bfc9;
	padding: 1rem;
}

#list-table tr:hover td{
	background: #c9d0d8;
}

#list-table td:nth-child(2){
	border-left-style: none;
	border-left-width: 0
}

@media screen and (max-width: 499px) {
	#list-table{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#list-table td{
		padding: .5rem 0;
	}
	#list-table th:nth-child(1){
		display: none;
	}
	#list-table td:nth-child(1){
		display: none;
	}
	#list-table td:nth-child(2){
		border-left-style: solid;
		border-left-width: 5px;
		padding-left: .5rem;
		white-space: normal;
	}
	#list-table td:nth-child(5){
		text-align: center;
	}
}

#list-table td:nth-child(4){
	word-wrap: break-word;
	max-width: 700px;
	letter-spacing: .5px;
	overflow-wrap: break-work;
	white-space: normal;
}

.list-table-color{
	content: ' ';
	width: 5px;
	height: 1rem;
	display: inline-block;
}

footer{
	background: #b2cadf;
	text-align: center;
	letter-spacing: .5px;
	font-size: .9rem;
	margin-top: 1rem;
	padding: 1rem;
	line-height: 1.5rem;
}

.dib{
	display: inline-block;
}

#map{
	width: 100%;
	height: calc(100vh - 8rem);
}

.map-filter-container{
	position: absolute;
	left: 7rem;
	top: 8.2rem;
}

@media screen and (max-width: 800px) {
	.map-filter-container{
		display: none;
	}
}

.list-filter-container{
	text-align: center;
	margin: .5rem auto;
}

.map-filter, .list-filter{
	background: #fff;
	/* width: 10px; */
	height: 10px;
	padding: .7rem .5rem;
	border-right: 1px solid #ccc;
	margin: 0;
	line-height: .7rem;
	font-size: .7rem;
	display: inline-block;
	color: #565656;
	cursor: pointer;
}

.map-filter:hover, .list-filter:hover{
	background: #f2f2f2;
}

.map-filter.active, .list-filter.active{
	background: #ccc;
}

#go-top{
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 2rem;
	padding: 1rem;
	background: rgba(240, 240, 240, 0.8);
	border-radius: 50%;
	box-shadow: 1px 1px 4px 2px #777;
	color: #333;
	cursor: pointer;
	display: none;
}

#go-top:hover{
	background: #FF4500;
	transition: .2s ease-in all;
	color: #f2f2f2;
}

#go-top:hover .hand{
	transition: .1s ease-in all;
	transform: translateY(-.3rem);
}

.timeline{
	width: 80%;
	left: 10%;
	text-align: center;
	position: absolute;
	bottom: 30px;
	padding: 1rem;
	background: rgba(240, 240, 240, 0.4);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.timeline input{
	width: 80%;
}

.timeline-play, .timeline-fast, .timeline-slow{
	font-size: 1.5rem;
	margin: 0 .5rem;
	cursor: pointer;
}

.timeline-control div{
	display: inline-block;
}

.timeline input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
}
.timeline input[type=range]:focus {
	outline: none;
}
.timeline input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #FF2222;
	border-radius: 25px;
	border: 0px solid #000101;
}
.timeline input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #65001c;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3.6px;
}
.timeline input[type=range]:focus::-webkit-slider-runnable-track {
	background: #FF2222;
}
.timeline input[type=range]::-moz-range-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #FF2222;
	border-radius: 25px;
	border: 0px solid #000101;
}
.timeline input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #65001c;
	cursor: pointer;
}
.timeline input[type=range]::-ms-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 39px 0;
	color: transparent;
}
.timeline input[type=range]::-ms-fill-lower {
	background: #FF2222;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.timeline input[type=range]::-ms-fill-upper {
	background: #FF2222;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.timeline input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #65001c;
	cursor: pointer;
}
.timeline input[type=range]:focus::-ms-fill-lower {
	background: #FF2222;
}
.timeline input[type=range]:focus::-ms-fill-upper {
	background: #FF2222;
}

.fa-road{
	color: #707068;
}

.fa-tint{
	color: #32A9DC;
}

.fa-lightbulb{
	color: #F6D559;
}

.fa-tree{
	color: #0D9332;
}

.fa-sign{
	color: #F4393E;
}

.fa-car{
	color: #5599FF;
}

.fa-bullhorn{
	color: #ff9200;
}

.fa-paw{
	color: #FACB97;
}

.fa-seedling{
	color: #32CA56;
}

.fa-bath{
	color: #0C539A;
}

.fa-bolt{
	color: #FCE500;
}

.fa-industry{
	color: #D18663;
}